/* playfair-display-sc-bold-italic */
@font-face {
  font-family: "Playfair Display SC";
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  src:
    local("Playfair Display SC Bold Italic"),
    local("PlayfairDisplaySC-BoldItalic"),
    url(./fonts/playfair-display-sc-bold-italic.woff2) format("woff2");
}
/* playfair-display-sc-bold */
@font-face {
  font-family: "Playfair Display SC";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src:
    local("Playfair Display SC Bold"),
    local("PlayfairDisplaySC-Bold"),
    url(./fonts/playfair-display-sc-bold.woff2) format("woff2");
}
/* playfair-display-sc-black */
@font-face {
  font-family: "Playfair Display SC";
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  src:
    local("Playfair Display SC Black"),
    local("PlayfairDisplaySC-Black"),
    url(./fonts/playfair-display-sc-black.woff2) format("woff2");
}
/* playfair-display-sc-italic */
@font-face {
  font-family: "Playfair Display SC";
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src:
    local("Playfair Display SC Italic"),
    local("PlayfairDisplaySC-Italic"),
    url(./fonts/playfair-display-sc-italic.woff2) format("woff2");
}
/* playfair-display-sc */
@font-face {
  font-family: "Playfair Display SC";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src:
    local("Playfair Display SC Regular"),
    local("PlayfairDisplaySC-Regular"),
    url(./fonts/playfair-display-sc.woff2) format("woff2");
}
/* playfair-display-sc-black-italic */
@font-face {
  font-family: "Playfair Display SC";
  font-style: italic;
  font-weight: 900;
  font-stretch: 100%;
  src:
    local("Playfair Display SC Black Italic"),
    local("PlayfairDisplaySC-BlackItalic"),
    url(./fonts/playfair-display-sc-black-italic.woff2) format("woff2");
}

/* inclusive-sans-semibold-italic */
@font-face {
  font-family: "Inclusive Sans";
  font-style: italic;
  font-weight: 600;
  font-stretch: 100%;
  src:
    local("Inclusive Sans SemiBold Italic"),
    local("InclusiveSans-SemiBoldItalic"),
    url(./fonts/inclusive-sans-semibold-italic.woff2) format("woff2");
}
/* inclusive-sans-semibold */
@font-face {
  font-family: "Inclusive Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src:
    local("Inclusive Sans SemiBold"),
    local("InclusiveSans-SemiBold"),
    url(./fonts/inclusive-sans-semibold.woff2) format("woff2");
}
/* inclusive-sans */
@font-face {
  font-family: "Inclusive Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src:
    local("Inclusive Sans Regular"),
    local("InclusiveSans-Regular"),
    url(./fonts/inclusive-sans.woff2) format("woff2");
}
/* inclusive-sans-medium-italic */
@font-face {
  font-family: "Inclusive Sans";
  font-style: italic;
  font-weight: 500;
  font-stretch: 100%;
  src:
    local("Inclusive Sans Medium Italic"),
    local("InclusiveSans-MediumItalic"),
    url(./fonts/inclusive-sans-medium-italic.woff2) format("woff2");
}
/* inclusive-sans-medium */
@font-face {
  font-family: "Inclusive Sans";
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src:
    local("Inclusive Sans Medium"),
    local("InclusiveSans-Medium"),
    url(./fonts/inclusive-sans-medium.woff2) format("woff2");
}
/* inclusive-sans-light-italic */
@font-face {
  font-family: "Inclusive Sans";
  font-style: italic;
  font-weight: 300;
  font-stretch: 100%;
  src:
    local("Inclusive Sans Light Italic"),
    local("InclusiveSans-LightItalic"),
    url(./fonts/inclusive-sans-light-italic.woff2) format("woff2");
}
/* inclusive-sans-light */
@font-face {
  font-family: "Inclusive Sans";
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src:
    local("Inclusive Sans Light"),
    local("InclusiveSans-Light"),
    url(./fonts/inclusive-sans-light.woff2) format("woff2");
}
/* inclusive-sans-italic */
@font-face {
  font-family: "Inclusive Sans";
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src:
    local("Inclusive Sans Italic"),
    local("InclusiveSans-Italic"),
    url(./fonts/inclusive-sans-italic.woff2) format("woff2");
}
/* inclusive-sans-bold-italic */
@font-face {
  font-family: "Inclusive Sans";
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  src:
    local("Inclusive Sans Bold Italic"),
    local("InclusiveSans-BoldItalic"),
    url(./fonts/inclusive-sans-bold-italic.woff2) format("woff2");
}
/* inclusive-sans-bold */
@font-face {
  font-family: "Inclusive Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src:
    local("Inclusive Sans Bold"),
    local("InclusiveSans-Bold"),
    url(./fonts/inclusive-sans-bold.woff2) format("woff2");
}

:root {
  /* Transition Slide Custom Properties */
  --slideImageBG: white;
  --slideImgOpacity: 0.8;
  --slideHeaderColor: white;
  --hhFontSize: 6rem;
  --hhFontFamily: "Playfair Display SC";
  --hhFontWeight: 300;

  /* Content Slide Custom Properties */
  --contentTextColor: black;
  --hhhFontFamily: "Playfair Display SC";
  --hhhFontSize: 3rem;
  --hhhVariationSettings: "wght" 530, "opsz" 72;
  --hhhColor: #457a83;
  --pFontFamily: "Inclusive Sans";
  --pFontWeight: 200;
  --pFontSize: 1.25rem;
  --pLineHeight: calc(1.25rem * 1.5);

  --default-font-color: rgba(43, 40, 61, 1);
}

/* Animations */
/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }

  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }

  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

/**
   * ----------------------------------------
   * animation pulsate-fwd
   * ----------------------------------------
   */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/**
   * ----------------------------------------
   * animation text-pop-up-top
   * ----------------------------------------
   */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow:
      0 1px 0 #cccccc,
      0 2px 0 #cccccc,
      0 3px 0 #cccccc,
      0 4px 0 #cccccc,
      0 5px 0 #cccccc,
      0 6px 0 #cccccc,
      0 7px 0 #cccccc,
      0 8px 0 #cccccc,
      0 9px 0 #cccccc;
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow:
      0 1px 0 #cccccc,
      0 2px 0 #cccccc,
      0 3px 0 #cccccc,
      0 4px 0 #cccccc,
      0 5px 0 #cccccc,
      0 6px 0 #cccccc,
      0 7px 0 #cccccc,
      0 8px 0 #cccccc,
      0 9px 0 #cccccc;
  }
}

/**
   * ----------------------------------------
   * animation fade-in-bottom
   * ----------------------------------------
   */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/**
   * ----------------------------------------
   * animation text-focus-in
   * ----------------------------------------
   */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.AMPics,
.WIFLPics,
.eventPics,
.launchpadPics {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

h1 {
  /*
  font-family: var(--hhhFontFamily);
  font-size: 3rem;
  font-variation-settings: var(--hhhVariationSettings);
  margin-top: 20vh;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;*/

  font-family: var(--hhhFontFamily);
  color: black;
}

h1 span {
  font-size: 30vh;
}

#canvas-container {
  /*
  background: linear-gradient(
    45deg,
    rgba(77, 131, 175, 0.5) 0%,
    rgba(81, 171, 165, 0.5) 50%,
    rgba(207, 146, 170, 0.5) 100%
  ); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  &:before {
    content: "";
    background-size: cover;
    display: block;
    filter: saturate(0%);
    opacity: 15%;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.lplogo {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.lplogocontainer {
  display: flex;
  align-items: center;
  padding: 2rem 0 2rem 0;
}

.imageHolder {
  display: inline-block;
  width: 70vw;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  flex-flow: column;
  & h1.mainTitle {
    background: linear-gradient(45deg, #4d83af, #5193a9, #51a9a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: drop-shadow(10px 10px 5px white) drop-shadow(10px -10px 5px white)
      drop-shadow(-10px 10px 5px white) drop-shadow(-10px -10px 5px white);
    font-size: 5rem;
    font-weight: 400;
    line-spacing: calc(5rem * 1.5);
    padding: 1rem 2rem;
    text-align: center;
  }
}

.mainHeader {
  color: #457a83;
  font-size: 3rem;
  font-family: var(--hhhFontFamily);
  text-align: center;
  z-index: 10;
}

.titleSVG {
  width: 20rem;
  max-width: 90vw;
}

article {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  color: var(--default-font-color);
}

.cardImage {
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#events {
  max-width: 80vw;
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    0.2s both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
}

.fieldContainer {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.flexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.galleryPic {
  display: inline-block;
  height: 30rem;
  width: 50rem;
  margin: 2rem 1rem 2rem 1rem;
  max-width: 80vw;
}

.galleryPic img {
  height: 30rem;
  width: 100%;
  max-width: 80vw;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

.boardPic {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

strong {
  font-style: bold;
}

.tcnPressContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

tcn-press::part(main) {
  background: linear-gradient(
    29deg,
    rgba(32, 66, 92, 1) 0%,
    rgba(32, 89, 92, 0.7) 100%
  );
  font-family: var(--pFontFamily);
}

tcn-press::part(title) {
  font-family: var(--hhhFontFamily);
}

.signature {
  width: 10rem;
  height: 5rem;
}

@media screen and (max-width: 1000px) {
  .boardPic {
    width: 7rem;
    height: 7rem;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.2s
    both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.2s both;
}

.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.pulsate-fwd:hover {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out both;
  animation: pulsate-fwd 0.2s ease-in-out both;
}

.kenburns-top {
  -webkit-animation: kenburns-top 30s ease-out both;
  animation: kenburns-top 30s ease-out both;
}

h2 {
  color: #48a7a7;
}

.bubble {
  clip-path: circle(farthest-side);
  opacity: 0;
}

.imageContainer {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
/*
#introduction {
   padding-top: 4rem;
}
*/
.logoCard {
  display: inline-block;
  margin: 0.5rem;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  margin: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.logoCard img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

#logoCards {
  max-width: 80vw;
}

.mugshot {
  width: 10rem;
  height: 10rem;
  clip-path: polygon(50% 0, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
}

@media screen and (max-width: 1000px) {
  .mugshot {
    width: 10rem;
    height: 10rem;
    align-self: center;
  }
}

.mugshot img {
  width: 10rem;
}

@media screen and (max-width: 1000px) {
  .mugshot img {
    width: 10rem;
  }
}

.memberList {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.memberList p {
  flex: 1;
  padding-right: 0.5rem;
}

.member {
  break-inside: avoid-column;
}
.memberDetails {
  margin-bottom: 1rem;
  display: block;
  break-inside: avoid-column;
}

@media screen and (max-width: 1000px) {
  .memberList {
    flex-flow: column nowrap;
    justify-content: center;
  }
}

.memberList p {
  font-size: 0.8rem;
  line-height: 1rem;
  flex: 1;
}

nav {
  height: 5rem;
  width: 100vw;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid #c0b622;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 11;
  display: flex;
}

nav #navlogo img {
  width: 12rem;
  margin: 0.25rem auto auto 0.5rem;
}

nav #navlinks {
  display: flex;
  width: 80%;
  min-height: 5rem;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3rem;
  justify-self: flex-end;
  font-family: var(--pFontFamily);
  color: var(--default-font-color);
}

nav #navlinks a button {
  color: black;
  text-decoration: none;
  font-size: 0.75rem;
  min-height: 4rem;
  border: none;
  background-color: transparent;
  padding: 0 1rem 0 1rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  transition: all 0.2s;
}

nav #navlinks a button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  nav #navlinks {
    display: none;
  }

  #navlogo {
    margin-left: auto;
    margin-right: auto;
  }
}

.objectField {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5rem;
  width: 100vw;
}

ol {
  font-family: var(--pFontFamily);
  font-weight: var(--pFontWeight);
  font-size: var(--pFontSize);
  line-height: var(--pLineHeight);
  letter-spacing: var(--pLetterSpacing);
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  ol {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

p {
  font-family: var(--pFontFamily);
  font-weight: var(--pFontWeight);
  font-size: var(--pFontSize);
  line-height: var(--pLineHeight);
  letter-spacing: var(--pLetterSpacing);
  position: relative;
  z-index: 1;
  color: var(--default-font-color);
}

@media screen and (max-width: 1000px) {
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.siggies {
  display: flex;
  flex-flow: row nowrap;
}

@media screen and (max-width: 600px) {
  .siggies {
    flex-flow: row wrap;
  }
}

.signatureContainer {
  margin-right: 5rem;
}

.staffList {
  display: flex;
  flex-flow: row wrap;
  font-size: 0.8rem;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .staffList {
    flex-flow: column nowrap;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .staffList p {
    font-size: 3rem;
  }
}

.staffList .staffContainer {
  width: 10rem;
  margin: 1rem;
}

.staffContainer p {
  font-size: 1rem;
  line-height: 1.25;
}

@media screen and (max-width: 1000px) {
  .staffList .staffContainer {
    width: 100%;
    font-size: 3rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
  }
}

.staffList .staffContainer a {
  color: #48a7a7;
}

.stat {
  font-size: 1.5rem;
}

.statCopy {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.statInfo {
  padding-top: 1rem;
  font-family: "Inclusive Sans";
  font-weight: 200;
}

.statsWrapper {
  list-style: none;
  padding-left: 0;
  position: relative;
}

.statNumber {
  filter: drop-shadow(1px 1px 0px #ca87a1) drop-shadow(1px -1px 0px #ca87a1)
    drop-shadow(-1px 1px 0px #ca87a1) drop-shadow(-1px -1px 0px #ca87a1);
  color: #ca87a1;
  font-family: "Inclusive Sans";
  font-size: 2.5rem;
  height: 4rem;
  margin-right: 1rem;
  text-align: center;
  padding: 1.25rem 0.75rem 0.75rem 0.75rem;
  width: 4.2rem;
  min-width: 4.2rem;
  margin-bottom: 4rem;
  position: relative;
  &:before {
    background-color: white;
    clip-path: polygon(50% 0, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    content: "";
    width: 100%;
    height: 90%;
  }
}

.statNumber.smallStat {
  font-size: 1.75rem;
  line-height: 3.2rem;
}

.statNumber:after {
  content: " ";
}

.transitionImg {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.vidContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

video {
  width: 80vw;
}

#value-green {
  background-color: #48a7a7;
}

table #value-pink {
  background-color: #cb96a3;
}

table #value-yellow {
  background-color: #c8b638;
}

table #value-dblue {
  background-color: #4885aa;
}

table td {
  padding-left: 2rem;
  vertical-align: text-top;
}

table td:nth-child(2) {
  max-width: 9rem;
}

@media screen and (max-width: 1000px) {
  table td:nth-child(2) {
    max-width: 50%;
  }
}

table td.color-bar {
  padding-left: 0.5rem;
}
